<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<div class="row">
{% for i in movie %}
 <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="{{i.cover.url}}" class="card-img-top" alt="..." style="iamge">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
        <h5 class="card-title">{{i.year}}</h5>
    <p class="card-text">{{i.details}}</p>
    <a href="{% url 'viewmovie' i.id %}" class="btn btn-primary">More</a>
  </div>
</div>
   </div>
{% endfor %}
</div>
  </div>
{% endblock %}