<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4" style="margin-top:50px;margin-left:100px;">
            <img src="{{product.image.url}}" style="width:400px;height:300px;">
            </div>
            <div class="col-lg-5" style="margin-top:50px;margin-left:140px;">
            <h3 class="text-uppercase">{{product.name}}</h3>
            <h3>{{product.price}}</h3>
                {{product.stock}}
            <p style="line-height:2.0;">{{product.desc}}</p>
                {% if user.is_superuser == False %}
                {% if product.stock <= 0 %}
                <h4>Out of stock</h4>
                {% else %}
                <a href="{% url 'cart:addtocart' product.name %}" class="btn btn-primary" style="position:relative;right:5px;">Add to Cart</a>
                {% endif %}


                {% else %}
                {% if product.stock <= 0 %}
                <h4>Out of stock</h4>
                <a href="{% url 'admin:index' %}" class="btn btn-primary">Add Stock</a>
                {% else %}
                <h4>Product in stock</h4>
                <a href="{% url 'admin:index' %}" class="btn btn-primary">Add Stock</a>
                

                {% endif %}


        </div>

    </div>
</div>

{% endblock %}